$light: #FEFEFE;
$bg: #F2F2F2;
$shadow: #E5E5E5;
$baby-blue: #A3BFFE;
$yellow: #FEE798;
$purple: #B3A3FC;
$green: #75E4B1;
$red: #E85576;
$light-blue: #AEDAFF;
$pink: #FEA3CE;
$dark: #4F4F4F;